.mainSection{
    height: 100vh;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageSection{
    height: 50vh;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionimg1{  
    background-image: url("images/back1.jpg");
}

.sectionimg2{
    background-image: url("images/back2.jpg");
}

.sectionimg3{
    background-image: url("images/back3.jpg");
}

.sectionwhite{
    background-color: #d3d3d3;
    color: #2c2c2c;
}

.sectiondark{
    background-color: #2c2c2c;
    color: #d3d3d3;
}

.mainContainer{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.paragraphContainer{
    text-align: center;
    padding: 2rem 3rem;
}

.mainTitle{
    font-family: 'Cardo', sans-serif;
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: #333333;
}

.imageTitle{
    font-family: 'Cardo', sans-serif;
    color: #FFFFFF;
    font-size: 1.8rem;
    padding: 1rem;
    text-transform: uppercase;
}

.paragraphTitle{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 1.25rem;
    font-weight: 100;
}

@media(max-width:568px){
    .mainSection, .imageSection{
      background-attachment:scroll;
    }
  }